.challenges {
  overflow-x: clip !important;
  overflow-y: hidden !important;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 10rem; 
    
    @include desktop {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8rem;
    }
  }
  &__image {
    position: relative;
    display: inline-block; 
  }
  &__image-wrapper {
    position: relative !important;
    width: 100%; 
    max-width: 537px; 
    align-self: center;
    overflow: visible !important;
    display: block;

    .challenges__main-img {
      width: 100%;
      height: auto;
      display: block;
      border-top-right-radius: 2.9rem;
      border-bottom-left-radius: 2.9rem;
      position: relative;
      z-index: 2;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @include desktop {
      grid-template-columns: repeat(3, 1fr); 
      gap: 4rem;
    }
  }
}

.leaf {
  position: absolute !important;
  z-index: 3 !important;
  pointer-events: none;
  width: 180px !important; 
  height: auto;

  &--top-right {
    top: -140px;
    right: 0;
    transform: scaleX(-1) rotate(180deg)  translate(55%,-40%)!important;
  }

  &--bottom-left {
    bottom: -110px !important;
    left: 0;
    transform: translate(-45%);
    
  }
}